// COLORS

// Website
$color-primary: #033142;
$color-secondary: #3e5341;

$color-link-default: #0d84c0;
$color-link-hover: #0a5c92;

$color-white: #FFF;
$color-black: #000;

// Syntax Highlighter
$color-code-name: #047DD1;
$color-code-background: #EEE;
$color-code-border: #BBB;
$color-code-inline: #DDD;
