// VARIABLES

// Website Font
$font-style-website-default: Arial, Verdana, sans-serif;

// Font Sizing
$font-size-website-default: 1.7rem;
$font-h1-text-size: $font-size-website-default * 1.6;
$font-h2-text-size: $font-size-website-default * 1.5;
$font-h3-text-size: $font-size-website-default * 1.4;
$font-h4-text-size: $font-size-website-default * 1.3;
$font-h5-text-size: $font-size-website-default * 1.2;
$font-h6-text-size: $font-size-website-default * 1.1;

// Syntax Highlighter Font
$font-code-inline: "Source Code Pro", "Courier New", monospace;