.text-large {
  font-size: 2.2rem;
}

.color-crimson {
  color: crimson;
}

.changing-text {
  color: goldenrod;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.show {
  display: block;
}

.hide {
  display: none;
}