extends layouts/default.pug

block content
  main
    h1 Basic JQuery UI Widgets

      h6 Spinner control

      p ...

      +codeMulti('Javascript', '...')

      section.example-area
        h6 Code in Action - Example 1
        article.example-area__samples
          section.basic-widget-one
            div
              p ...