extends layouts/default.pug

block content
  main
    h1 Review Class - Form

    form#new-class

      label(for="faculty-name") Name
      input(type="text")#faculty-name

      label(for="course-name") Course Name
      input(type="text")#course-name

      br

      label(for="course-date") Course Date
      input(type="text")#course-date

      label(for="course-time") Course Time
      input(type="text")#course-time

      #your-class