extends layouts/default.pug

block content
  main
    h1 Goals of the Website

    p JQuery UI is a user interface tool-set based on JQuery that delivers an enhanced website user experience.

    section.toc
      h4 Table of Contents
      ul.toc__list
        h6 Course Content
        li.toc__list-item
          a(href="basic-jquery-ui-widgets.html") Basic JQuery UI Widgets